body{background-color: rgb(7, 53, 41);

}
h1{
 text-transform: uppercase;
 font-size: 2rem;
}
.success{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: white;
}
.work-img{
    border: 10px solid white;
    width: 100%;
    height: 400px; width: 250px;
}